dns-udp	{{ pi1_sentinel_healthchecks_urls['dns_udp'] }}
dns-tcp	{{ pi1_sentinel_healthchecks_urls['dns_tcp'] }}
http	{{ pi1_sentinel_healthchecks_urls['http'] }}
sentinel	{{ pi1_sentinel_healthchecks_urls['sentinel'] }}
