#!/bin/sh
set -eu

packet_count=0
while [ "$packet_count" -lt {{ wol_repeat_count }} ]; do
  /usr/bin/wakeonlan \
    -i "{{ item.broadcast_address | default(wol_default_broadcast_address) }}" \
    -p "{{ item.port | default(wol_default_port) }}" \
    "{{ item.mac_address }}"
  packet_count=$((packet_count + 1))
  if [ "$packet_count" -lt {{ wol_repeat_count }} ]; then
    /bin/sleep "{{ wol_repeat_interval_seconds }}"
  fi
done
