[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
collections_path = ../.ansible/collections
filter_plugins = filter_plugins
host_key_checking = True
retry_files_enabled = False
fact_caching = memory
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
